[package]
name = "cw20"
version = "0.1.0"
authors = ["Ethan Frey <ethanfrey@users.noreply.github.com>"]
edition = "2018"
description = "Definition and types for the CosmWasm-20 interface"
license = "AGPL-3.0"

[dependencies]
cosmwasm-std = { version = "0.9.2" }
schemars = "0.7"
serde = { version = "1.0.103", default-features = false, features = ["derive"] }

[dev-dependencies]
cosmwasm-schema = { version = "0.9.2" }
