[package]
name = "cw1-subkeys"
version = "0.9.1"
authors = ["Ethan Frey <ethanfrey@users.noreply.github.com>"]
edition = "2018"
description = "Implement subkeys for authorizing native tokens as a cw1 proxy contract"
license = "Apache-2.0"
repository = "https://github.com/CosmWasm/cw-plus"
homepage = "https://cosmwasm.com"
documentation = "https://docs.cosmwasm.com"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
backtraces = ["cosmwasm-std/backtraces"]
# use library feature to disable all instantiate/execute/query exports
library = []
test-utils = []

[dependencies]
cw0 = { path = "../../packages/cw0", version = "0.9.1" }
cw1 = { path = "../../packages/cw1", version = "0.9.1" }
cw2 = { path = "../../packages/cw2", version = "0.9.1" }
cw1-whitelist = { path = "../cw1-whitelist", version = "0.9.1", features = ["library"] }
cosmwasm-std = { version = "0.16.0", features = ["staking"] }
cw-storage-plus = { path = "../../packages/storage-plus", version = "0.9.1" }
schemars = "0.8.1"
serde = { version = "1.0.103", default-features = false, features = ["derive"] }
thiserror = { version = "1.0.23" }

[dev-dependencies]
cosmwasm-schema = { version = "0.16.0" }
cw1-whitelist = { path = "../cw1-whitelist", version = "0.9.1", features = ["library", "test-utils"] }
